@font-face {
  font-family: "Marcellus-regular";
  src: url(fonts/MarcellusSC-Regular.ttf);
}

*{
  margin:0
}
body{
  background: lightslategray;
}

header{
  display:flex;
  padding: 3rem;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  font-family: "Marcellus-regular", sans-serif;
  font-size: 2rem;
  background: white;
}
header .picture{
  height:4rem;
  width:4rem;
}
.picture{
  background:url(images/library-svgrepo-com.svg) center center / cover no-repeat;

}


container{
  display:flex;
  justify-content: center;
  align-items: center;
}
container .material-symbols-outlined{
 font-size: 3rem;
 margin-top: 1rem;
}
.books{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 30px;
}

.books .cards{
    background: linear-gradient(45deg, lightgray, white);
    font-size: 20px;
    border-radius: .7rem;
    padding:10px;
    gap:10px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    box-shadow:0 20px 20px -12px rgb(17, 17, 17, 0.2);
    z-index: 3;
    margin:2rem;
}



.modal {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0%;
    top: 0%;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 11rem; /* Could be more or less, depending on screen size */
  }

form{
    display:flex;
    flex-direction: column;
}


input{
    width: 9rem;
    padding: 15px;
    margin: 5px 0 20px 0;
    border: none;
    background: #eee;
  }



button{
    margin-top: 1rem;
    width:11rem;
    padding:10px;
    border-radius: .7rem;
    background-color: lightgreen;
}

.new-book{
  background:slategray ;
  border: #fefefe;
  box-shadow:0 8px 8px -4px rgb(17, 17, 17, 0.2);
}

button:hover{
  filter: brightness(1.1);
    outline: none;
}